.heading1{
    background-color: greenyellow;
    padding: 20px;
    border: 2px solid red;
}
.para1{
    background-color: lightcoral;
    padding: 15px;

}
.main-heading{
    background-color: lightblue;
}
.heading2{
    background-color: blue;
}